
.back-ground-pc{
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(back-ground-pc.jpg);
}

.links{
  z-index: 1;
  margin: -20% 0% 0% 0%;
  width: 100%;
  height: 150px;
  position: fixed;
  display: flex;
  background: rgba(255, 255, 255, .1);
  align-items: center;
  backdrop-filter: blur(10px);
  border-bottom: 2px solid rgba(255, 255, 255, .2);

}
.maalomat{
  padding-right:1% ;
  padding-left: 1%;
  margin: 20% 0% 0% 4%;
  width: 90%;
  height: 750px;
  background: rgba(255, 255, 255, .1);
  align-items: center;
  backdrop-filter: blur(10px);
  border-bottom: 2px solid rgba(255, 255, 255, .2);

}
.maalomat h1{
    color: white;
    font-size: 2cm;
    text-align: center;
}
.maalomat li{
    font-size: 1cm;
}
.maalomat p{
    font-size: 0.5cm;
    color: rgb(235, 233, 230);
}
.bb .ss .zz h1{

    font-size: 2cm;
    text-align: center;
    margin-left: 25%;
}

.links label{
  padding: 10px 0;
  flex-grow: 1;
  cursor: pointer;
  transition: all .4s;
  text-align: center;
  font-family: 'Arial';
  font-size: 0.8cm;
  color: #fff;
}

.links label:hover{
  background-color: rgba(255,255,255,.2);
  font-size: 0.9cm;
}

.BOX2{
    background-color: rgb(12, 12, 12);
    width: 300px;
    height: 500px;
    margin-top: 5px;
}

.bb{
    background: rgba(255, 255, 255, .1);
    align-items: center;
    backdrop-filter: blur(10px);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    height: 800px;
    width: 27.7cm;
    margin-top: 20%;
    margin-left: 15%;
    align-content: space-between;
    text-align: center;

}
.ss{
    justify-content: space-between; 
    padding-left: 5%;
    padding-right: 3%;
    margin-top: 80px;}
.zz{
    margin: 0px 0 0 250px 0px;
    display: flex;
    justify-content: space-between;

}
.zz h1{
    overflow: hidden;
    color: rgb(246, 246, 250);
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.cc{
    color: rgb(12, 12, 12);
    height: 500px;
    margin:-13% 2% 1% 443px  ;
}
.ani{
    font-size: 0.5cm;
    height: 60px;
    width: 200px;
    background-color: antiquewhite;
    color: rgb(22, 21, 21);
    bottom: 0;
    opacity: 0;
    transition-property: all;
    transition-duration: 2s;
}
.ee:hover .ani{
    opacity: 1;
    transform: translateY(-60px);
}
@keyframes identifier {
    0%{transform: translateY(0);}
    100%{transform: translateY(-15);}
}
.animation{
    animation-name: identifier;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.bb ul h3{
    color:blue ;
}
.bb .zz h4{
    text-align: center;
    padding-top: 0%;
}
.ee{
align-items: center;}
.imag{
    height: 250px;
    width: 250px;
    border-radius: 10px;
    padding-right: 50px;   
}

@media (max-width:700px)
{
    .dd{
        display: block;    }
}
    
footer #footer-above {
    background-size: cover;
    background-position: center;
    color: #fff;
    display: -webkit-box;
    display: -moz-flexbox;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin: 50px 0 0 0;
}
.prlm{
    display: flex;
    justify-content: space-between;
}


footer h3 {
    color: #000;
    font-size: 2cm;
}

#footer-above {
    padding-top: 50px;
}

#footer-above div {
    margin-bottom: 50px;
    text-align: center;
}

#footer-above ul {
    padding: 0;
}

#footer-above li {
    display: inline;
}


.button {
    margin-right: 6px;
    color: #fff;
    border: solid 2px #000;
    border-radius: 70%;
    display: inline-block;
    width: 70px;
    height: 70px;
    text-align: center;
    font-size: 20px;
    line-height: 48px;
    -webkit-transitional: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.button:hover {
    border: solid 2px rgb(21, 102, 214);
    color: #2998E4;
}
.prlm{
  margin: 70% 0% 0% 0%;
  width: 100%;
  height: 500px;
  display: flex;
  background: rgba(255, 255, 255, .1);
  align-items: center;
  backdrop-filter: blur(10px);
  border-bottom: 2px solid rgba(255, 255, 255, .2);
  display: flex;
}
.commentaire{
    margin-top: -10%;
    margin-left: 20px;
    height: 6cm;
    width: 9cm;
    border-radius: 20px;
}
#contact{
    margin-right: 2%;
    padding: 0% 5px 5px 5px;
}